@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
	src:url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
}

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }

html{
    scroll-behavior: smooth;
    animation: all 0.3s ease-in;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	background: #ffffff;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.mobile-only{
    display: none;
}

.desktop-only{
    display: block;
}


.closeButton{
    position: fixed;
    display: block;
    right: 8em;
    top: 4em;
    padding: 1.5em;
    background: #EBEBEB;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.4;
}

.closeButton:hover{
    opacity: 1;
}

.social-widget{
    position: fixed;
    display: block;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    border: 1px solid black;
    top: 3em;
    left: 3em;
}

.social-widget svg{
    fill: black;
}

img{
    position: relative;
    display: block;
    width: 60vw;
    margin: 1em auto 0;
}

img .small{
    width: 20vw;
}

.video-js{
    position: relative;
    display: block;
    width: 60vw;
    height: 60vh;
    margin: 1em auto 0;
}

.vjs-big-play-button{
    background: #af0000 !important;
}

.video-js .vjs-big-play-button{
    top: 35vh !important;
    left: 29vw !important;
}

article{
    margin: 4em auto 0;
    position: relative;
    display: block;
    width: 45vw;
    padding: 2em;
    line-height: 1.58;
    letter-spacing: -0.004em;
}

article h1 {
	margin: 0 0 0.5em;
	letter-spacing: -0.035em;
	font-size: 3.65em;
	line-height: 1;
	font-weight: 800;
}

article h3{
    opacity: 0.7;
    margin: 0 0 0;
}

article .body-text{
    margin: 0 0 2.5em;
    color: #000000;
}

article h4{
    font-size: 1.5em;
    margin: 0;
}

.caption{
    margin: 0 auto 5em;
    position: relative;
    display: block;
    text-align: center;
    width: 45vw;
    padding: 1em;
    line-height: 1.58;
    letter-spacing: -0.004em;
    opacity: 0.6;
}

.back-to-top{
    text-align: center;
    position: relative;
    display: block;
    text-decoration: underline;
    font-size: 1.5rem;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }

    .closeButton{
        right: 1em;
        top: 1em;
        padding: 1em;
        opacity: 1;
        z-index: 10;
    }

    .closeButton svg{
        width: 1em;
        height: 1em;
    }

    article{
        margin: 2em auto 0;
        width: 100vw;
        letter-spacing: -0.004em;
    }
    
    article h1 {
        margin: 0 0 0.5em;
        letter-spacing: -0.035em;
        font-size: 1.6em;
        line-height: 1.2;
    }
    
    article h3{
        font-size: 1.2em;
    }
    
    article h4{
        font-size: 1.3em;
    }

    img{
        width: 98vw;
    }

    .video-js{
        width: 98vw;
        height: 40vh;
    }

    .caption{
        margin: 0 auto 1em;
        width: 98vw;
        padding: 1em;
    }


}

